@import url('https://fonts.googleapis.com/css?family=Poppins:400,500|Sacramento&display=swap&subset=latin-ext');
*{
    margin:0;
    padding:0;
    border:0;
    
}

.particles-js-canvas-el{
    width: 100vh;
    height:100vh;
    position: absolute;
    pointer-events: none;
    
}
html {
    scroll-behavior: smooth;
  }
.menu{
    float: right;
}

#logo{
    font-size: 22px;
    font-family: 'Sacramento', cursive;
    line-height: 0.2px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}
.headlist{
    position:auto;
}
.main{
    background-color: #2099d2;
    color: #f9f9f9;
    height:100vh;
    
}
.menuList{
    font-size: 20px;
    list-style: none;
    margin: 10px;
    display: inline-block;
    padding: 10px 5px;
    border: 2px solid transparent ;
}
.nameHead{
    margin: 10px;
    padding: 10px;
}
.headContent{
    text-align: center;
    margin-top: 20vh;
    padding: 15px 5px;
}
.arrow{
    margin-top: 90px;
}
.arrow a{
    text-decoration: none;
    color: #f9f9f9;
    font-size: 14px;
    text-decoration: none;
}
.arrow a:hover{
    color:#082e45;
    transition: ease 0.6s;
}

.contentDown{
    padding: 15px;
    margin: 10px;
    margin-top: 30px;
}
.skillitems{
    list-style: none;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.cont{
    
    color: #2099d2;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    margin: 30px;
    padding: 5px;
}

.techHead{
    color: #082e45;
    opacity: 70%;
    border-bottom: 4px solid #2099d2;
    padding:0px;
}

.vl {
    border-left: 6px solid #2099d2;
    height: 60vh;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 100vh;
}

.wrapper{
    display: grid;
    grid-template-columns:1fr 1fr ;
}

.menu li a{
    text-decoration: none;
    color: white;
}
.menu li a:hover{
transition: ease 0.6s;
color: #082e45;
}

.wrapper2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}
.insideHeads{
    color: #082e45;
    border-bottom: 2px solid #2099d2;
    border-bottom-width: 2px;
    margin: 10px 0px;
}
.aboutContent{
    margin: 10px 0px;
    padding: 5px 0px;
}
.mouseEvents{
    pointer-events: all !important;
}
#section2{
    height: 60vh;
}
#section3{
    background-color: #0a1930;
    text-align: center;
    height: 100vh;
    color: white;
}
#section3 h2{
    padding: 10px;
    top:-50vh;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.projects-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    padding: 60px 200px;
    grid-template-rows: minmax(365px, 365px);
    
}


.innerProjects{
    border-radius: 6px;
    padding-left: 5px;
    background-color: #162a45;
    color: #7af2de;

}

.innerProjects h3{
    padding-top: 40px;
    color: white;
}
.innerProjects button{

    margin: 10px 5px;
    padding: 5px;
    
}


.github-buttons{
    background-color:#2099d2;
    color: white;
}
.live-buttons{
    background-color:#e74889;
    color: white;
}

.project-buttons:hover{
    opacity: 0.7;
    transition: ease 0.4s;
}

.projectContent{
    padding: 15px 20px;
    opacity: 0.9;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    text-justify: auto;
}

#section4{
    background-color: #0a1930;
    text-align: center;
    height: 80vh;
    color: white;
}
#section4 p{
    opacity: 0.5;
}
#contactHeader{
    opacity: 0.7;
    font-size: 4rem;
    padding: 12rem 0rem 1rem 0rem;
}

#dev{
    height: 20vh;
    text-align: center;
    text-decoration: none;
    background-color: #082e45;
    padding: 7vh;
}

#devLink{
    text-decoration: none;
    color: #7af2de;
    font-size: 18px;
}
#devLink:hover{
    opacity: 0.3;
    transition: ease 0.6s;
}

#mail{
    text-decoration: none;
    border: 2px solid #7af2de;
    border-radius: 5%;
    padding: 15px;
    margin-bottom: 1rem;
    color: #7af2de;
    
}
#mail:hover{
    opacity: 0.5;
    transition: ease 0.6s;
}
.contactContent{
    margin-bottom: 5rem;
    font-size: 18px;
}

#socialContainer{
    font-size: 30px;
}
#socialContainer a{
    color: #7af2de;
    margin-right: 1rem;
    opacity: 0.9;
}

#socialContainer a:hover{
    opacity: 0.3;
    transition: ease 0.6s;
}